@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito:wght@400&family=Quicksand:wght@500&display=swap');
.App {
    width: 80%;
    margin: 50px auto;
    /* font-family: 'Nunito', sans-serif; */
    font-family: 'Quicksand', sans-serif;
}

/* Searchbox */

.box-wrapper h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    margin-right: 8px;
    color: rgb(72, 71, 71);
}
    .searchbox-label {
        display: flex;
        align-items: baseline;
    }

    .input-box {
        width: 80vw;
    }

/* StoreList */
.list {
    margin-top: 50px;
}

    .list h2 {
        font-family: 'Quicksand', sans-serif;
        color: rgb(101, 101, 101);
    }

    .list-store {
        font-size: 20px;
    }
    .list-tags {
        font-size: 16px;
        margin-top: 7px;
        margin-bottom: 9px;
    }